<page-header title="预约管理" autoBreadcrumb="false" [action]="action">
  <ng-template #action>
  </ng-template>
</page-header>

<nz-card nzBordered="false">
  <div class="line">
    <div class="cell">
      <span>
        预约总数
      </span>
      <span>
        {{stat.totalNum}}
      </span>
    </div>
    <div class="cell">
      <span>
        核销总数
      </span>
      <span>
        {{stat.totalCheckout}}
      </span>
    </div>
    <div class="cell">
      <span>
        未核销总数
      </span>
      <span>
        {{stat.totalNum-stat.totalCheckout}}
      </span>
    </div>
  </div>
  <div class="line">
    <div class="cell">
      <span>
        今日预约数
      </span>
      <span>
        {{stat.todayTotal}}
      </span>
    </div>
    <div class="cell">
      <span>
        今日核销数
      </span>
      <span>
        {{stat.todayCheckout}}
      </span>
    </div>
    <div class="cell">
      <span>
        今日未核销数
      </span>
      <span>
        {{stat.todayTotal-stat.todayCheckout}}
      </span>
    </div>
  </div>
</nz-card>

<nz-card [nzBordered]="false">
  <form nz-form se-container labelWidth="130">
    <se label="预约人手机号" col="2">
      <input nz-input placeholder="请输入" style="width:150px" [(ngModel)]="query.tel" name="contactTel" maxlength="11" />
    </se>
    <se label="预约人身份证号" col="2">
      <input style="width:100%" nz-input placeholder="请输入" style="width:200px" [(ngModel)]="query.idCard"
        name="contact " />
    </se>
    <se label="预约日期" col="2">
      <nz-date-picker class="input" style="width:150px" nzFormat="yyyy-MM-dd" nzPlaceHolder="预约日期"
        [(ngModel)]="query.startAppoint" name="startAppoint"></nz-date-picker>
    </se>
    <se label="状态" col="2">
      <nz-select class="input" style="width:200px" [(ngModel)]="query.status" nzAllowClear nzPlaceHolder="请选择"
        name="status">
        <nz-option *ngFor="let option of StatusList" [nzValue]="option.value" [nzLabel]="option.label" maxlength="18">
        </nz-option>
      </nz-select>
    </se>
    <se col="2">
      <button nz-button [nzType]="'primary'" (click)="getData(1)" [nzLoading]="loading">查询</button>
      <button nz-button (click)="reset()" [disabled]="loading">重置</button>
    </se>
  </form>
</nz-card>

<nz-card [nzBordered]="false">
  <st #st [data]="data" [total]="total" [ps]="query.pageSize" [pi]="query.pageNo" [columns]="columns" [page]="pages"
    [loading]="loading" (change)="stChange($event)" [scroll]="{x: '1000px'}"></st>
</nz-card>
